doctype 5
html(lang="en")
  body
    table(
      width='100%'
      style='max-width: 480px; margin: 0 auto;'
    )
      tbody
        tr
          td(
            style='padding: 32px 8px;'
          )
            center
              a(
                href=verificationURL
                style="\
                  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\
                  font-size: 16px;\
                  font-weight: normal;\
                  text-decoration: none;\
                  height: 48px;\
                  line-height: 48px;\
                  display: block;\
                  width: 100%;\
                  background-color: #303030;\
                  color: #ffffff;\
                  border-radius: 8px;"
              ) Proceed Verification
